<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Boolflix</title>
</head>

<body>
    <main id="app">
        <header class="container-flex">
            <h1>Boolflix</h1>
            <div class="filler"></div>
            <select v-model="selectedGenre" name="" id="" @click="getGenres">
                <option value="">Tutti</option>
                <option v-for="genre in getGenresList" :value="genre.name">{{genre.name}}</option>
            </select>
            <input type="text" v-model="query" @keydown.enter="querySubmit" placeholder="Cerca">
        </header>
        <div>
            <ul class="container-flex">
                <li v-for="result in getResultList">
                    <img :src="getPosterUrl(result)" :alt="result.original_title">
                    <div class="info">
                        <p><strong>Titolo:</strong> {{result.title}}</p>
                        <p>
                            <strong>Titolo originale:</strong>
                            {{result.original_title}}
                            <span :class="getFlag(result)"></span>
                        </p>
                        <p>
                            <strong>Voto:</strong>
                            <i v-for="star in voteToStars(result)" class="fa fa-star" aria-hidden="true"></i><i
                                v-for="estar in (5 - voteToStars(result))" class="fa fa-star-o" aria-hidden="true"></i>
                        </p>
                        <p>
                            <strong>Cast:</strong>
                            <span v-if="result.cast.length != 0">{{result.cast.join(", ")}}</span>
                            <span v-else><em>Non disponibile</em></span>
                        </p>
                        <p>
                            <strong>Genere:</strong>
                            <span v-if="result.genre_ids">{{result.genere.join(", ")}}</span>
                            <span v-else><em>Non disponibile</em></span>
                        </p>
                        <p class="overview">
                            <strong>Overview:</strong>
                            <span v-if="result.overview != ''">{{result.overview}}</span>
                            <span v-else><em>Non disponibile</em></span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>